DATABASE_URL=postgresql://neondb_owner:bfdbfdb fdb@ep-weathered-shadow-ahcus-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


GOOGLE_CLIENT_ID=6fc71705evbm2mlnolg.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=GOCSPX-5ktg1b0BDFr6uBc

NEXTAUTH_SECRET=nfdbgtbgthgmnhgmhggbfgbgbfdbfb

